<h1>My Tasks</h1>

<div class="task-list">
  <ul class="fa-ul">
    <% @tasks.each do |task| %>
      <li>
        <% if task.completed %>
          <span class="fa-li"><i class="fa-solid fa-check-square"></i></span>
        <% else %>
          <span class="fa-li"><i class="fa-regular fa-square"></i></span>
        <% end %>
        <%= link_to("#{task.title}", task_path(task.id), :class=>"link") %>
        --
        <%= link_to(fa_icon("solid trash"), task_path(task.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}) %>
      </li>
    <% end %>
  </ul>
</div>
<div class="new-task">
  <i class="fa-solid fa-plus"></i>
  <%= link_to('Create new task', new_task_path, :class=>"link") %>
</div>
